<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="connectionString" connectionString="Data Source = DESKTOP-8OGHCDV\SQLEXPRESS; Initial Catalog = AstronomicalObservatory; Integrated Security = SSPI"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="parentTableName" value="Planet"/>
		<add key="childTableName" value="Satellite"/>
		<add key="childForeignKey" value="PlanetId"/>
	</appSettings>
</configuration>